<div class="flex flex-col fixed z-50 w-full h-[6rem]  top-0 bg-gradient-to-t from-cyan-500 via-cyan-600 to-cyan-800">
  <div class="w-full h-[3rem]">
    {{ nav:header }}
      <a class="block text-m text-bolder text-center text-white uppercase font-theme" href="{{ homepage }}">
        <img class="title_logo.png" />
      </a>
    {{ /nav:header }}
  </div>

  <a href="#" class="flex max-w-min h-[3rem] m-center">
    {{ svg src="arrow" class="h-fit self-center drop-shadow-md shadow-black" }}
  </a>

</div>